html,body {
    background-color: rgb(255, 219, 219);
    margin:4vw;
}

h1 {
    font-size:40px;
}

h2 {
    font-size:30px;
}

nav {
    font-size:30px;
}

p {
    font-size:25px;
}

button {
    font-size:20px;
    padding: 12px;
}
