@font-face {
  font-family: "Somelist";
  src: url("fonts/Somelist/Somelist.ttf") format("truetype");
}

@font-face {
  font-family: "Choco";
  src: url("fonts/choco.otf") format("truetype");
}

html,body {
    background-color: rgb(186, 245, 255);
    margin:4vw;
}

h1 {
    font-size:60px;
    font-family: "Somelist", ui-rounded;
    color: rgb(240, 91, 134);
}

h2 {
    font-size:40px;
    font-family: "Somelist", ui-rounded;
    color: rgb(240, 91, 134);
}

nav {
    margin-top: -5vw;  
    margin-left: -3vw; 
    margin-right: -3vw; 
}

nav div {
    background-color: rgb(255, 224, 171);
    border: 3px solid rgb(240, 91, 134);
    border-radius:2vw;
    height:1em;
    display: flex;
    gap:5vw;
    padding: 3vw 3vw 3vw 5vw;
    align-items:center;
    flex-wrap: wrap;
}

nav p {
    font-family: "Choco", ui-rounded;
    font-size:4em;
    margin-top: -2vw;
}

nav img {
    width: 50px;
    height:50px;
    margin-top: -2vw;
    object-fit: contain;
}

header {
    margin-top: 15vw;
}

header button{
    margin-top: 3vw;
}

p {
    font-size:4em;
    font-family: "Choco", sans-serif;
}

button {
    font-size:4em;
    border-radius:2vw;
    padding: 2vw;
    color:rgb(46, 25, 4);
    font-family: "Choco", ui-rounded;
    background-color:rgb(255, 224, 171);
    border: 3px solid rgb(240, 91, 134);
    min-height: 70px;
    min-width: 120px;
}

button:hover {
    background-color:rgb(46, 25, 4);
    color:rgb(235, 198, 133);
}

a,p {
    color:rgb(46, 25, 4);
}

a:hover {
    color:rgb(240, 91, 134);
}

#slideshow img {
    height: 20vw;
    width: auto;
}

#slideshow  {
    margin-top: 15vw;
}