@font-face {
  font-family: "Somelist";
  src: url("Somelist.ttf") format("truetype");
}

html,body {
    background-color: rgb(255, 219, 219);
    margin:4vw;
}

h1 {
    font-size:40px;
    font-family: "Somelist", sans-serif;
}

h2 {
    font-size:30px;
}

nav {
    font-size:30px;
}

p {
    font-size:25px;
}

button {
    font-size:20px;
    padding: 12px;
    color:rgb(46, 25, 4);
    background-color:rgb(235, 198, 133);
}

button:hover {
    background-color:rgb(46, 25, 4);
    color:rgb(235, 198, 133);
}
a {
    color:rgb(46, 25, 4);
}

a:hover {
    color:rgb(236, 136, 136);
}


